@font-face {
    font-family: 'Quicksand_Bold';
    src: url('../font/Quicksand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../font/Noto_Sans/NotoSansJP-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand_Semi_Bold';
    src: url('../font/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand_Regular';
    src: url('../font/Quicksand/Quicksand-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-weight: var(--medi);
  font-family: 'Noto Sans JP'; 
  color: var(--white);
  letter-spacing: 0.025em;
  min-width: 1300px;
  line-height: 1.5;
}

.banner {
  overflow-x: hidden;
  max-width: 100%;
  height: 90%;
  background-image: linear-gradient(rgba(142, 208, 255, 0.7), rgb(162, 221, 255, 0.4)),
    url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  color: #f0eaea;
}

.banner h1 {
  position: absolute;
  top: 125px;
  left: 200px;
  width: 950px;
  font-size: 80px;
  font-family: 'Quicksand_Bold';
  color: #003366;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 10px rgba(142,207,255,1);
}

/*Header*/

.header {
  background-color: #003b89;
}

.header nav ul {
  list-style: none;
  padding: 25px;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.header nav ul li {
  font-family: 'Quicksand_Bold';
  margin-right: 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #f8f4f4;
  position: relative;
}

.header nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #8ecfff;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav ul li:last-child {
  margin-right: 0;
}

/*Main Body*/

.bg2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url(../img/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 80px;
  margin: 80px;
  margin-top: 0px;
  margin-bottom: -90px;
}

section h1 {
  height: 60px;
  width: auto;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  font-family: 'Quicksand_Semi_Bold';
  color: #114791;
  letter-spacing: 15px;
}

section div:not([class]) {
  padding: 5%;
  padding-top: 3%;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #8ecfff;
  border-radius: 10px;
}

section div h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Quicksand_Regular';
  font-weight: bold;
  color: #003b89;
}

section div p, ul {
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 150px;
}

.button {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#8ecfff, #8ECFFF);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #114791;
    cursor: pointer;
    display: inline-flex;
    height: 65px;
    padding: 0 32px;
    font-family: 'Quicksand_Regular';
    font-weight: bold;
}
.button-container a {
  text-decoration: none;
}

.button-container a:visited {
  text-decoration: none;
}

.button-container a:hover {
  background: #80c2fa;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-overlay:target {
  display: block;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 80%;
  height: 85%;
  overflow: auto;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.picture-container img {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* INFORMATION CSS */

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 10px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #8ECFFF;
  color: #114791;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Quicksand_Regular';
  font-weight: bold;
}
.tab-label:hover {
  background: #80c2fa;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input[type="checkbox"] {
    display: none;
}

input:checked + .tab-label {
  background: #80c2fa;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.content-table {
    height: 700px; 
    overflow: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9cm;
    min-width: 400px;
    border-radius: 5px 5px 0 0 !important;
}

.content-table thead tr {
  background-color: rgb(250, 72, 72);
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 20px;
  color: #333;
}

.content-table th {
    font-family: 'Quicksand_Regular';
    font-weight: bold;
    font-size: 30px;
    background-color: #8ECFFF;
    color: #114791;
}

/*Borders never appearing*/
.content-table tbody tr {
  border-bottom: 2px solid rgb(0, 0, 0) !important;
}

.content-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/*Borders never appearing*/
.content-table tbody tr:last-of-type {
  border-bottom: aqua;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

footer {
  margin-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  color: #114791;
}

@media (max-width: 600px) and (orientation: portrait) {

  * {
    overflow-x: hidden;
  }

  body {
    font-size: 1rem;
    min-width: auto;
    
  }

  .banner {
    transition: display 0.5s ease-in-out;
  }

  .banner h1 {
    font-size: 55px;
    top: 40px;
    left: 31px;
    width: auto;
  }

  .header {
    display: none; 
  }

  section {
    padding: 20px;
    margin: -5px;
    
  }

  section h1 {
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 10px;
  }

  section div h2 {
    font-size: 25;
    margin-bottom: 5px;
  }

  .button {
    font-size: 15px;
    text-align: center;
  }

  .button-container {
    column-gap: 30px;
  }

  .close-button {
    top: 5px;
    right: -10px;
  }
  
  .close-button img {
    width: 50%;
  }

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 85%;
    overflow: auto;
  }

  .content-table {
    height: auto;
    width: auto;
    min-width: 0;
    font-size: 0.7cm;
    overflow: hidden;
    margin-top: 80px;
    
  }

  .content-table th {
    font-size: 15px;
  }

  .content-table th, .content-table td {
    padding: 5px 10px;
    font-size: 10px;
  }

  footer {
    margin-top: 50px;
  }

}
