* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-weight: var(--medi);
    font-family: var(--zen);
    color: var(--white);
    letter-spacing: 0.025em;
    min-width: 1300px;
}

.banner {
    overflow-x: hidden;
    max-width: 100%;
    height: 90%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    color: #f0eaea;
}

.banner h1 {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 950px;
    font-size: 80px;
}

.header {
    background-color: 8B7E74;
  }
  
.header nav ul {
    list-style: none;
    padding: 25px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
  
.header nav ul li {
    margin-right: 10px;
}
  
.header nav ul li:last-child {
    margin-right: 0;
}
  
.header nav ul li a {
    text-decoration: none;
    color: #f8f4f4;
}

.bg2 {
    background-image: url("../img/bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding: 80px;
    margin: 80px;
    margin-top: 0px;
    margin-bottom: -90px;
}

section h1 {
    height: 60px;
    width: auto;
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
}

section div:not([class]) {
    padding: 5%;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #e3d09d85;
    border-radius: 10px;
}

section div h2 {
    font-size: 35px;
    margin-bottom: 10px;
    
}

.button-container {
    display: flex;
    justify-content: center;
    column-gap: 150px;
}
  
.button {
    width: 40%;
    margin-right: 20px;
    background: #33e48b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}
.button-container a {
    text-decoration: none;
}
  
.button-container a:visited {
    text-decoration: none;
}

.button-container a:hover {
    text-decoration: underline;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-overlay:target {
    display: block;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 80%; 
    height: 85%;
    overflow: auto;
}

.picture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  
.picture-container img {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 10px; 
    right: 10px;
}

.close-button2 {
    padding: 8px;
    border-radius: 10%;
    margin-bottom: 10px;
    background-color: #33e48b;
    position: absolute;
    top: 555%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.expand-collapse-list {
    list-style-type: none;
    padding: 0;
}

.expand-collapse-list li {
    margin-bottom: 10px;
}

.expand-collapse-list label {
    display: block;
    font-weight: bold;
    cursor: pointer;
}

.expand-collapse-list input[type="checkbox"] {
    display: none;
}

.content {
    display: none;
}

input[type="checkbox"]:checked + .content {
    display: block;
}

table{
    width: 1250px;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

table, th,td{
    border: 2px solid #000000;
    border-collapse: collapse;
}

table, td{
    padding: 10px;
}

th{
    background-color: rgb(65, 66, 70);
}

tr:nth-child(even){
    background-color: #fff;
}

tr:nth-child(odd){
    background-color: #c7c6c6;
}  

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

footer {
    padding: 200px 0 80px;
    text-align: center;
}
